#  Analysis of general data of Espoo in 2022

## Version for one workbook (CSV)

In [8]:
# analysis.ipynb
import pandas as pd

# Load the data
df = pd.read_csv('../data/Espooaluetietoa2022.csv')
df.head()

,Tietoja Espoosta ja sen suur- ja tilastoalueista,Unnamed: 1,Unnamed: 2,ESPOO,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,2022,NaN,NaN
2,VÄESTÖ 31.12.,kpl,0-6 v,"23,881",NaN,NaN
3,NaN,NaN,7-12 v,"23,651",NaN,NaN
4,NaN,NaN,13-15 v,"11,565",NaN,NaN

# OR

## Version for checking excel files

In [5]:
import pandas as pd

# List all sheets in the Excel file
excel_file = pd.ExcelFile('../data/Espooaluetietoa2022.xlsx')
print(excel_file.sheet_names)
# Load a specific sheet
df = pd.read_excel('../data/Espooaluetietoa2022.xlsx', sheet_name='1 Suur-Leppävaara')

['SISÄLTÖ', 'ESPOO', '1 Suur-Leppävaara', '11 Kanta-Leppävaara', '13 Kilo-Karakallio', '14 Laaksolahti', '15 Viherlaakso-Lippajärvi', '16 Sepänkylä', '2 Suur-Tapiola', '21 Kanta-Tapiola', '22 Otaniemi', '23 Haukilahti-Westend', '24 Mankkaa', '25 Laajalahti', '3 Suur-Matinkylä', '31 Matinkylä', '32 Olari', '33 Henttaa-Suurpelto', '4 Suur-Espoonlahti', '41 Kanta-Espoonlahti', '42 Saunalahti', '43 Nöykkiö-Latokaski', '44 Kaitaa', '45 Suvisaaristo', '5 Suur-Kauklahti', '51 Kanta-Kauklahti', '52 Kurttila-Vanttila', '6 Vanha-Espoo', '61 Kanta-Espoo', '62 Muurala-Gumböle', '63 Bemböle', '64 Nuuksio-Nupuri', '7 Pohjois-Espoo', '71 Vanhakartano-Röylä', '72 Kalajärvi-Lakisto']

In [6]:
# Get basic info about df
df.info()
# Check for missing values
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  106 non-null    object
 1   Unnamed: 1  18 non-null     object
 2   Unnamed: 2  60 non-null     object
 3   Unnamed: 3  140 non-null    object
dtypes: object(4)
memory usage: 5.5+ KB

Unnamed: 0     66
Unnamed: 1    154
Unnamed: 2    112
Unnamed: 3     32
dtype: int64